{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<div style="margin: 10px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStock">
        Add Ticker
    </button>
</div>

<div class="modal fade" id="addStock" tabindex="-1" role="dialog" aria-labelledby="addStockLabel" aria-hidden="true" style="margin-top: 10%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStockLabel">Add a ticker:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addStockForm">
                    <div class="form-group">
                        <label for="market">Market</label>
                        <input type="text" class="form-control" id="market" placeholder="e.g. NASDAQ">
                    </div>
                    <div class="form-group">
                        <label for="ticker">Ticker</label>
                        <input type="text" class="form-control" id="ticker" placeholder="e.g. AAPL">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="add_stock();">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<center>
    <table id="stocks_table" class="display">
        <thead>
            <tr>
                <th>Market</th>
                <th>Ticker</th>
                <th>Price</th>
                <th>Current Ratio</th>
                <th>Quick Ratio</th>
                <th>Return on Equity</th>
                <th>Price/Earnings Ratio</th>
                <th>Debt/Equity Ratio</th>
                <th>Free Cash Flow</th>
                <th>Net Profit Margin</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks: %}
            <tr>
                <td>{{stock.market}}</td>
                <td>{{stock.ticker}}</td>
                <td>{{stock.data['price']}}</td>
                <td>{{stock.current_ratio}}</td>
                <td>{{stock.quick_ratio}}</td>
                <td>{{stock.return_on_equity}}</td>
                <td>{{stock.price_to_earnings_ratio}}</td>
                <td>{{stock.debt_equity_ratio}}</td>
                <td>{{stock.free_cash_flow}}</td>
                <td>{{stock.net_profit_margin}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>

<script type="text/javascript" src="/static/js/script.js"></script>

{% endblock %}