{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    $(function(){
        $.get("/stocks", function(data, status){
            var data = JSON.parse(data);
            for (i in data) {
                var stock = data[i];
                for (var key in stock){
                    if (stock.hasOwnProperty(key)){
                        var value = stock[key];
                        if (value == null){
                            value = 'N/A';
                        }
                        $("#" + stock["market"] + "-" + stock["ticker"] + "-" + key).text(value);
                    }
                }
            }
        });
    });
</script>

<div style="margin: 10px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStock">
        Add Ticker
    </button>
</div>

<div class="modal fade" id="addStock" tabindex="-1" role="dialog" aria-labelledby="addStockLabel" aria-hidden="true" style="margin-top: 10%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStockLabel">Add a ticker:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addStockForm">
                    <div class="form-group">
                        <label for="market">Market</label>
                        <input type="text" class="form-control" id="market" placeholder="e.g. NASDAQ">
                    </div>
                    <div class="form-group">
                        <label for="ticker">Ticker</label>
                        <input type="text" class="form-control" id="ticker" placeholder="e.g. AAPL">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="add_stock();">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<center>
    <table id="stocks_table" class="display row-border">
        <thead>
            <tr>
                <th>Market</th>
                <th>Ticker</th>
                <th>Price</th>
                <th>Current Ratio</th>
                <th>Quick Ratio</th>
                <th>Return on Equity</th>
                <th>Price/Earnings Ratio</th>
                <th>Debt/Equity Ratio</th>
                <th>Free Cash Flow</th>
                <th>Net Profit Margin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks: %}
            <tr>
                <td id="{{stock['market']}}-{{stock['ticker']}}-market">
                    {{stock['market']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-ticker">
                    {{stock['ticker']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-price">
                    {{stock['price']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-current_ratio">
                    {{stock['current_ratio']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-quick_ratio">
                    {{stock['quick_ratio']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-return_on_equity">
                    {{stock['return_on_equity']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-price_to_earnings_ratio">
                    {{stock['price_to_earnings_ratio']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-debt_equity_ratio">
                    {{stock['debt_equity_ratio']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-free_cash_flow">
                    {{stock['free_cash_flow']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-net_profit_margin">
                    {{stock['net_profit_margin']}}
                </td>
                <td id="{{stock['market']}}-{{stock['ticker']}}-remove">
                    <button type="button" class="btn btn-group-sm" onclick="remove_stock('{{stock['market']}}', '{{stock['ticker']}}');">-</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>

<script type="text/javascript" src="/static/js/script.js"></script>

{% endblock %}